h1 {
color:blueviolet;
font-family: 'Times New Roman', Times, serif;
font-weight: 200;
text-align: center;
}

h3 {
    color: blueviolet;
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}